<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image Generator</title>
<link rel="stylesheet" href="/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <!-- <div class="header-left">
    <button id="modeToggle" class="mode-btn">Theme</button>
  </div> -->
  <h1 style="font-family: 'Ubuntu', sans-serif; font-weight: 300; font-style: normal;">Image Search Engine</h1>
  <div class="menu-login">
    <div class="menu-container" id="hamburger">
      {{!-- <div class="hamburger">
        <span></span>
        <span></span>
      </div> --}}
    </div>
    <button class="login-btn"><a href="/login">Login</a></button>
  </div>
</header>
{{!-- <div class="side-menu" id="sideMenu">
  <a href="video.html">Playbacks</a>
  <a href="illustration.html">Illustration</a>
  <a href="/music">Sound Effect</a>
  <a href="logout.html">Log out</a>
</div> --}}
<div class="search-bar">
  <input type="text" placeholder="Search images...">
  <button>Search</button>
</div>
<div class="gallery">
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1015/400/300" alt="Sample Image"></a>
    <div class="caption">Beautiful Landscape</div>
  </div>
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/400/300" alt="Sample Image"></a>
    <div class="caption">Mountain View</div>
  </div>
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1035/400/300" alt="Sample Image"></a>
    <div class="caption">City Lights</div>
  </div>
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1045/400/300" alt="Sample Image"></a>
    <div class="caption">Forest Path</div>
  </div>
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1055/400/300" alt="Sample Image"></a>
    <div class="caption">Beach Sunset</div>
  </div>
  <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1065/400/300" alt="Sample Image"></a>
    <div class="caption">Snowy Mountain</div>
  </div>
   <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1075/400/300" alt="Sample Image"></a>
    <div class="caption">New Landscape</div>
  </div>
   <div class="gallery-item">
    <a href="photo.html"><img src="https://picsum.photos/id/1035/400/300" alt="Sample Image"></a>
    <div class="caption">Main land</div>
  </div>
</div>
<script src="script.js"></script>
<script src="/backend.js"></script>
</body>
</html>